* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    
}

.image-container {

    
    padding-top: 100px;

}

.image-bg {
    position: relative;
}

.image {
    height: 450;
    width: 350px;
    border-radius: 20px;
}

.save {
    position: absolute;
    top: 15px;
    left: 840px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    background-color: red;
    height: 60px;
    width: 90px;
    border: 70px;
    cursor: pointer;
    
}


  
  .save:hover {
    padding-top:10px;
  }
  
.share-icon {
    position: relative;
}

.share {
    position: absolute;
    top:-70px;
    right:680px;
    font-size: 45px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    
}


.share:hover {
    padding-bottom: 10px;
}

.arrow-icon {
    position: relative;
}

.arrow {
    position: absolute;
    top:-88px;
    right:830px;
    font-size: 45px;
    background-color: transparent;
    
    cursor: pointer;
    width: 10%;
    border-radius: 50px;
}

.arrow:hover{
    padding-bottom: 30px;
}

.dot-icon{
    position: relative;
}

.dot {
    position: absolute;
    top: -100px;
    right:615px;
    font-size: 45px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;

}